body {
  background-color: #000000;
  background-image: None;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: "Luminari", "Georgia", serif;
  line-height: 1.6;
  }
blockquote {
    color: #ffffff;
    font-family: serif;
}
