body {
  background-color: #000000;
  background-image: None;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: "Luminari", "Georgia", serif;
  line-height: 1.6;
  }
blockquote {
    color: #ffffff;
    font-family: serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align:center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 24px;
	margin-bottom: 24px;
	}
h1 {
	font-size: 3em;
	color: #ff0000;
  border-bottom: 2px solid #ff3c00;
}
h2 {
	font-size: 2em;
	color: #1b8d24;
  border-bottom: 2px solid #10e422;
	}
h3 {
	font-size: 3em;
	color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
h4 {
  font-size: 1em;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}